/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.default-color0.chart-series-line { -fx-stroke: #ff0000; }
.default-color1.chart-series-line { -fx-stroke: #ffb3b3; }
.default-color2.chart-series-line { -fx-stroke: #ffb3b3; }

.chart-title {
	-fx-font-size:1.2em; 
}

